.navbar{
    background-color: rgb(108, 171, 221);
}

.carousel{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

form button{
    margin: -8px;
}

.colcol-lg-6 a{
    text-decoration: none;
}